---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?q=onion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Indian
        Restaurant Style Onion Bhaji - Deep Fried Onion Fritters","href":"http:\/\/www.recipezaar.com\/Indian-Restaurant-Style-Onion-Bhaji-Deep-Fried-Onion-Fritters-288345","ingredients":"baking
        powder, chickpea flour, chili powder, coriander, cumin, onion seeds, onions,
        flour, salt, turmeric, vegetable oil, water","thumbnail":"http:\/\/img.recipepuppy.com\/44475.jpg"},{"title":"Black
        and Tan Onion Rings","href":"http:\/\/www.recipezaar.com\/Black-and-Tan-Onion-Rings-4199","ingredients":"flour,
        cayenne, chicken broth, peppers, paprika, salt, onions, vegetable oil","thumbnail":""},{"title":"Onion
        Saute Recipe","href":"http:\/\/www.grouprecipes.com\/30759\/onion-saute.html","ingredients":"green
        onion, garlic, butter, olive oil, sugar, onions","thumbnail":""},{"title":"Bubba
        Don''t[...]
