---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?q=onion
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Indian
        Restaurant Style Onion Bhaji - Deep Fried Onion Fritters","href":"http:\/\/www.recipezaar.com\/Indian-Restaurant-Style-Onion-Bhaji-Deep-Fried-Onion-Fritters-288345","ingredients":"baking
        powder, chickpea flour, chili powder, coriander, cumin, onion seeds, onions,
        flour, salt, turmeric, vegetable oil, water","thumbnail":"http:\/\/img.recipepuppy.com\/44475.jpg"},{"title":"Black
        and Tan Onion Rings","href":"http:\/\/www.recipezaar.com\/Black-and-Tan-Onion-Rings-4199","ingredients":"flour,
        cayenne, chicken broth, peppers, paprika, salt, onions, vegetable oil","thumbnail":""},{"title":"Onion
        Saute Recipe","href":"http:\/\/www.grouprecipes.com\/30759\/onion-saute.html","ingredients":"green
        onion, garlic, butter, olive oil, sugar, onions","thumbnail":""},{"title":"Bubba
        Don''t[...]
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?q=onion,%20potato
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Caramelized
        Onion-Potato Pancakes Recipe","href":"http:\/\/www.recipezaar.c[...]
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?q=eggs%20bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\n  <head>\n    <title>404 File Not
        Found</title>\n    <link href=\"/cssjs/style.css?6\" type=\"text/css\" media=\"screen\"
        rel=\"stylesheet\">\n    <link rel=\"shortcut icon\" href=\"/favicon.ico\">\n
        \   <link rel=\"search\" type=\"application/opensearchdescription+xml\" title=\"Recipe
        Puppy: Search by Ingredients\" href=\"http://www.recipepuppy.com/rpopen.xml\">\n
        \   <link rel=\"search\" type=\"application/opensearchdescription+xml\" title=\"Recipe
        Puppy: Search by Keyword\" href=\"http://www.recipepuppy.com/rpkeyword.xml\">\n
        \ </head>\n  <body>\n    <div class=\"header\">\n      <h1><a href=\"/\"><img
        src=\"/img/logonew.png\" title=\"Search Recipes by Ingredients and Keywords\"
        alt=\"Search Recipes by Ingredients and Keywords\" /></a></h1>\n    </div>\n
        \   <div class=\"nav\"> \n    </div>\n    <div class=\"main\">\n      <h2>404
        File Not Found</h2> \n    </div>\n    <div style=\"clear:both\"></div>\n    <div
        class=\"foot\">\n      <div class=\"column\">\n        <h4>About</h4>\n        <a
        href=\"http://blog.recipepuppy.com/\">Blog</a><br>\n        <a href=\"/about/us\">About
        Us</a><br>\n        <a href=\"/about/contact\">Contact Us</a><br>\n        <a
        href=\"/top/search\">Top Searches</a><br>\n        <a href=\"/privacy\">Privacy
        Policy</a><br>\n      </div>\n      <div class=\"column\">\n        <h4>On
        the Web</h4>\n        <a href=\"http://www.facebook.com/pages/Recipe-Puppy-Search-for-recipes-by-ingredients/54865354493#/pages/Recipe-Puppy-Search-for-recipes-by-ingredients/54865354493\">Facebook</a><br>\n
        \       <a href=\"http://twitter.com/recipepuppy/\">Twitter</a><br>\n        <a
        href=\"http://twitter.com/recipebot/\">Twitter Recipe Search Bot</a><br>\n
        \     </div>\n      <div class=\"column\">\n        <h4>Tell your Friends</h4>\n<!--
        AddThis Button BEGIN -->\n<script type=\"text/javascript\">\nvar addthis_share
        = \n{ \n    title: 'Recipe Puppy, an ingredient based recipe search engine',\n
        \   url: 'http://www.recipepuppy.com',\n    templates: {\n                   twitter:
        'check out {{url}}, an ingredient based recipe search engine (@recipepuppy
        and @recipebot)'\n               }\n}\n</script>\n<div class=\"addthis_toolbox\">\n<a
        class=\"addthis_button_email\" title=\"Share Recipe Puppy via Email\">&nbsp;Email</a><br>[...]
