// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipe-search{
  padding-top: 30px;
  padding-bottom: 30px;
}

.placeholder{
  width: 90px;
  height: 90px;
}
